body {
	background-image: url("../imgs/BGblack3.jpg");
	background-size: cover;
}

.mainView {
	z-index: 10;
    margin-top: -600px;
}

.team_name {
	text-align: center;
}

.team_score {
	text-align: center;
	font-size: 23px;
	color: white;
}

.avatar_team img {
	width: 120px;
	height: auto;
}

.avatar_team {
	display: none;
	text-align: center;
}

.level {
	width: 100%;
    text-align: right;
    padding: 8px 0;
}

#question_box {
	background-color: rgba(239,235,215,0.3);
	border-width: thin;
  	border-color: #f7f6f2;
  	display: none;
  	z-index: 5;
}

#question_box p {
	color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#back-button {
  display: block;
}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}